@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.blocks {
  height: 100%;
}

.drag-over::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background-color: rgba(0, 191, 255, 0.2); /* antes $drop-highlight */
  transition: all 0.25s ease;
}

.blocks .injectionDiv {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(0,0,0,0.2); /* antes $ui-black-transparent */
  border-top-right-radius: 0.25rem;  /* antes $space */
  border-bottom-right-radius: 0.25rem;
}

[dir="rtl"] .blocks .injectionDiv {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.blocks .blocklyMainBackground {
  stroke: none;
}

.blocks .blocklyToolboxDiv {
  border-right: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-sizing: content-box;
  height: calc(100% - 3.25rem) !important;
  -ms-overflow-style: none;
}

.blocks .blocklyToolboxDiv::-webkit-scrollbar {
  display: none;
}

.blocks .blocklyFlyout {
  border-right: 1px solid rgba(0,0,0,0.2);
  box-sizing: content-box;
}

.blocks .blocklyBlockDragSurface {
  pointer-events: none;
  z-index: 200; /* antes $z-index-drag-layer */
}

.blocks .scratchCategoryMenuItemLabel {
  font-size: 0.65rem;
}

.blocks .blocklyMinimalBody {
  min-width: auto;
  min-height: auto;
}
