.git
.gitignore
.github
.vscode
.idea
node_modules
**/node_modules
build
dist
**/build
**/dist
coverage
**/coverage
*.log
.env
.env.*
.DS_Store
Thumbs.db
docs
documents
test
**/test
*.md
!README.md
.dockerignore
