# Scratch-web dynamic variables
# See the README.md for more information on how they get injected into the app

# The base URL of Keycloak's public interface, used for authentication calls
SCRATCH_WEB_AUTH_BASE_URL=http://localhost:4002
