@import "../../css/colors.css";

.popover {
    display: flex;
    flex-direction: column;
    width: 21rem;
    padding: 1rem;
    align-items: flex-start;

    border-radius: 0.5rem;
    border: 0.0625rem solid $motion-primary;
    background-color: $motion-primary;
    opacity: 1;

    /* Basic Shadows/2dp */
    box-shadow: 0 0.25rem 0.375rem 0 $ui-black-transparent-10, 0 0.25rem 1rem 0 $ui-black-transparent;
}

.popover-title {
    align-self: stretch;
    color: $ui-white;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}

.popover-body {
    align-self: stretch;
    color: $ui-white;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}
